body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    padding: 20px;
    box-shadow: 0 0 10px #67d7cc;
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    height: auto;
}

.search {
    background-color: #242424;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 5px #67d7cc;
    display: flex; 
    justify-content: center;
}

.search input {
    border: none;
    background-color: #e9e9e9;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.search input:focus {
    outline: none;
    border: 2px solid #67d7cc;
}

.note {
    background-color: #81817f;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 5px #67d7cc;
}

.note.new {
    background-color: #67d7cc;
}

.delete-icon {
    cursor: pointer;
    color: rgb(8, 8, 8);
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.add-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; 

}

.add-note textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e9e9e9;
    font-size: 1rem;
}
.note {
	background-color: #eee599; 
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.note-title-input,
.note-textarea {
	width: 100%;
	border: none;
	background-color: transparent;
	margin-bottom: 5px;
	font-size: 1em;
	color: #333; 
}

.note-title-input::placeholder,
.note-textarea::placeholder {
	color: #eef078; 
}

.note-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.save {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
